@font-face {
	font-family: 'Cera Round Pro';
	src: url('../fonts/subset-CeraRoundProDEMO-Black.eot');
	src: url('../fonts/subset-CeraRoundProDEMO-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/subset-CeraRoundProDEMO-Black.woff') format('woff'),
	url('../fonts/subset-CeraRoundProDEMO-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}