@font-face {
	font-family: 'Cera Round Pro';
	src: url('../fonts/subset-CeraRoundProDEMO-Black.eot');
	src: url('../fonts/subset-CeraRoundProDEMO-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/subset-CeraRoundProDEMO-Black.woff') format('woff'),
	url('../fonts/subset-CeraRoundProDEMO-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'ALS Rubl';
	src: url('../fonts/hinted-subset-ALSRubl.eot');
	src: url('../fonts/hinted-subset-ALSRubl.eot?#iefix') format('embedded-opentype'),
	url('../fonts/hinted-subset-ALSRubl.woff') format('woff'),
	url('../fonts/hinted-subset-ALSRubl.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}