.s-order {
	padding-bottom: 80px;
}

.order {}

.order__form {
	//padding-top: 30px;
}

.order__inputs {
	display: flex;
	align-items: center;
	padding-top: 40px;
	@include res(m) {
		flex-wrap: wrap;
		padding-top: 20px;
	}
	.input-text {
		width: calc(25% - 12px);
		margin-right: $gutter;
		@include res(m) {
			width: calc(50% - 12px);
		}
		@include res(xs){
			width: 100%;
		}
	}
	.btn {
		width: calc(25% - 12px);
		margin-bottom: 20px;
		@include res(m) {
			width: calc(50% - 12px);
		}
		@include res(xs){
			width: auto;
		}
	}
}

.condition {
	margin-bottom: 20px;
	flex-wrap: nowrap;
	@include res(s){
		flex-wrap: wrap;
	}
	label {
		span {
			display: inline-block;
			text-transform: uppercase;
			font-weight: bold;
			color: $green;
			letter-spacing: 0.15em;
		}
	}

	&__label-wrap{
		width: 200px;
		flex-shrink: 0;
	}

	.grid-8{
		@include res(s){
			width: 100%;
			margin-top: 7px;
		}
	}
	&__price-wrap{
		white-space: nowrap;
		width: 200px;
		@include res(xs){
			width: 100%;
			margin-top: 7px;
		}
	}
}

.condition__price {
	letter-spacing: 0.1em;
}

.condition__descr {
	letter-spacing: 0.1em;
	color: $purple-light;
	line-height: 1.2;
	display: block;
}
