.s-team{
	padding: 60px 0 0 0;
	text-align: center;
	@include res(s) {
		padding-top: 40px;
	}

	.h6.purple{
		margin-bottom: 0.5em;
	}

	.h1{
		margin-bottom: 0.7em;
	}
}

.hero{
	margin-bottom: 80px;
	@include res(xl){
		margin-bottom: 60px;
	}
	@include res(l){
		margin-bottom: 40px;
	}
	img{
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		height: auto;
		margin-bottom: 20px;
	}

	&__name{
		display: block;
		margin-bottom: 0.5em;
		transition: all 0.3s ease;
		&:hover {
			color: $green;
		}
	}

	&__descr{
		display: block;
		color: $purple-light;
		margin-bottom: 10px;
	}

	&__tags{
		display: block;
		color: $purple-light;
		font-style: italic;
	}

	&.anim{
		opacity: 0;
		transition: opacity 0.3s ease,transform 0.3s ease;
		transform: translate3d(0,30px,0);

		&.animated{
			opacity: 1;
			transition: opacity 1s ease,transform 0.7s ease;
			transform: none;
			
			img{
				transform: none;
			}
		}
		
		img{
			display: block;
			transform: scale(0.8);
			transition: transform 0.3s ease;
		}
	}
}