.s-themes {
	padding: 80px 0;
	.btn-center {
		@include res(s) {
			padding-top: 15px;
		}
	}
}

.themes-stage {
	position: relative;
	min-height: 1010px;
	margin-top: 70px;
	background: url('../img/themes/bg-themes.png') no-repeat center center;
	background-size: contain;
	@include res(l) {
		width: 100%;
		max-width: $container_width;
		min-height: initial;
		margin: 0 auto;
		padding-left: 16px;
		padding-right: 16px;
		padding-bottom: 650px;
		background: url('../img/themes/bg-themes.png') no-repeat center bottom;
		background-size: contain;
	}
	@include res(m) {
		padding-bottom: 480px;
	}
	@include res(s) {
		padding-bottom: 420px;
	}
	@include res(xs) {
		padding-bottom: 300px;
	}
	@include res(xxs) {
		padding-bottom: 240px;
	}
}

.themes-stage__list {
	@include res(l) {
		display: flex;
		flex-wrap: wrap;
		padding-top: 30px;
		margin-left: -16px;
		margin-right: -16px;
	}
	span {
		position: absolute;
		display: block;
		max-width: 220px;
		font-size: 18px;
		font-weight: bold;
		line-height: 1.4;
		color: #fff;
		opacity: 0;
		transition: all 1s ease;
		@include res(l) {
			position: relative;
			top: initial;
			left: initial;
			max-width: 100%;
			width: 25%;
			padding-left: 16px;
			padding-right: 16px;
			margin-bottom: 25px;
			line-height: 1.3;
			font-size: 16px;
		}
		@include res(s) {
			width: 33.3333%;
			font-size: 14px;
		}
		@include res(xs) {
			width: 50%;
		}
		&:after {
			content: '';
			position: absolute;
			width: 110px;
			pointer-events: none;
			background: url('../img/circle-arrow.svg') no-repeat center center;
			@include res(l) {
				content: none;
			}
		}
		&.animated {
			opacity: 1;
		}
	}
}


.themes-stage__item-1 {
	top: 42%;
	left: 14%;
	@include res(xxl) {
		top: 42%;
		left: 9%;
	}
	@include res(xl) {
		top: 40%;
		left: 7%;
	}
	&:after {
		top: 100%;
		left: 8%;
		width: 260px;
		height: 190px;
		transform: rotate(-11deg);
	}
}

.themes-stage__item-2 {
	top: 24%;
	left: 19.5%;
	@include res(xxl) {
		left: 15%;
	}
	@include res(xl) {
		left: 12.5%;
	}
	&:after {
		top: 100%;
		left: 62%;
		width: 260px;
		height: 240px;
		transform: rotate(-11deg);
	}
}

.themes-stage__item-3 {
	top: 74%;
	left: 53%;
	@include res(xl) {
		top: 69%;
	}
	&:after {
		top: -20%;
		left: -23%;
		width: 260px;
		height: 220px;
		transform: rotate(80deg);
	}
}

.themes-stage__item-4 {
	top: 5%;
	left: 28%;
	@include res(xxl) {
		left: 25%;
	}
	@include res(xl) {
		left: 22%;
	}
	&:after {
		top: 95%;
		left: 63%;
		width: 260px;
		height: 260px;
		transform: rotate(115deg);
	}
}

.themes-stage__item-5 {
	top: 60%;
	left: 66%;
	&:after {
		top: -153%;
		left: -48%;
		width: 260px;
		height: 100px;
		transform: rotate(110deg);
	}
}

.themes-stage__item-6 {
	top: 50%;
	left: 76%;
	@include res(xl) {
		left: 78%;
	}
	&:after {
		top: -166%;
		left: -21%;
		width: 260px;
		height: 160px;
		transform: rotate(176deg);
	}
}

.themes-stage__item-7 {
	top: -9%;
	left: 73%;
	@include res(xl) {
		top: -4%;
		left: 75%;
	}
	&:after {
		top: 57%;
		left: 15%;
		width: 260px;
		height: 160px;
		transform: rotate(130deg);
	}
}

.themes-stage__item-8 {
	top: 8%;
	left: 56%;
	max-width: 140px!important;
	text-align: right;
	@include res(xl) {
		top: 14%;
	}
	@include res(l) {
		max-width: 100%!important;
		text-align: left;
	}
}
